#heading {
  text-align: center;
  margin-top: 10px;
  font-size: 40px;
}

.playground {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin: 60px;
}

.buttons button {
  margin: 10px;
  height: 60px;
}

.right {
  display: flex;
  flex-direction: column;
}

#counter-table {
  display: flex;
  flex-direction: row;
}

#counter {
  margin-left: 10px;
}

#input {
  width: 350px;
}

.input {
  display: flex;
}

label {
  margin: 12px;
  font-size: 20px;
}